h1 {
    background-color: red;
}

.dark {
    background-color: darkcyan;
}

#bright-italic {
    background-color: lightgreen;
    font-style: italic;
}

p.blue#blue {
    background-color: blue;
}

.indigo[id="indigo"] {
    background-color: indigo;
    color: white;
}

p>a>span {
    background-color: green;
    color: white;
}

p span {
    background-color: brown;
    color: wheat;
}

p.violet {
    background-color: violet;
}

p.pink[class="pink"] {
    background-color: pink;
}
